*/**/node_modules
node_modules
dist
dist/*
build
build/*
logs
logs/*
*/**/dist
*/**/build
*/**/logs

# Local directories
secrets
src/secrets/*
!src/secrets
!src/secrets/README.md
local

# Environment
!sandbox/infrastructure/utils/.env*
!sandbox/infrastructure/utils/**/.env*
!.env.sample
!*/**/.env.sample
/.env*

/src/public/

/src/config.json
/src/config.*.json
!/src/config.sample.json

/data

!src/keys
/src/keys/consentSignature.pem
id_rsa

/.idea