# Environment variables for the application
# Copy this file to .env.local and update with your values

# API Base URL
VITE_API_BASE_URL=

SECRET_KEY=

SERVICE_KEY=

MONGO_URI=mongodb://YOUR_MONGO_URI:27017/database-name